In [2]:
import pandas as pd
from ast import literal_eval
df = pd.read_csv("dataset/movies_metadata.csv")

/tmp/ipykernel_983080/691289514.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset/movies_metadata.csv")

In [3]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [4]:
print(df['genres'][0])

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]

In [5]:
df['genres_names'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [6]:
df['genres_names'].head()

0     [Animation, Comedy, Family]
1    [Adventure, Fantasy, Family]
2               [Romance, Comedy]
3        [Comedy, Drama, Romance]
4                        [Comedy]
Name: genres_names, dtype: object

In [7]:
df = df[df['original_language'].isin(['en', 'hi', 'fr'])]
df = df.reset_index(drop=True)

In [8]:
len(df)

35215

In [9]:
df[[ 'title']].head()

                         title
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

In [10]:
df['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [12]:
df['popularity'] = pd.to_numeric(df['popularity'], errors='coerce')

In [13]:
nan_count = df['popularity'].isna().sum()

In [14]:
nan_count

2

In [15]:
df = df.dropna(subset=['popularity'])

In [16]:
df = df.reset_index(drop=True)

In [17]:
len(df)

35213

In [18]:
df['poster_path'].head()

0    /rhIRbceoE9lR4veEXuwCC2wARtG.jpg
1    /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg
2    /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
3    /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg
4    /e64sOI48hQXyru7naBFyssKFxVd.jpg
Name: poster_path, dtype: object

In [19]:
df['runtime'].head()

0     81.0
1    104.0
2    101.0
3    127.0
4    106.0
Name: runtime, dtype: float64

In [20]:
df['release_date'].head()

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [21]:
df['release_date'] = pd.to_datetime(df['release_date'])
# Extract the year from the 'release_date' column
df['release_year'] = df['release_date'].dt.year

df['release_year'].head()

0    1995.0
1    1995.0
2    1995.0
3    1995.0
4    1995.0
Name: release_year, dtype: float64

In [22]:
final_df = df[['title', 'genres_names', 'original_language', 'overview', 'popularity', 'runtime', 'release_year']]

In [23]:
final_df.head()

,title,genres_names,original_language,overview,popularity,runtime,release_year
0,Toy Story,"[Animation, Comedy, Family]",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,81.0,1995.0
1,Jumanji,"[Adventure, Fantasy, Family]",en,When siblings Judy and Peter discover an encha...,17.015539,104.0,1995.0
2,Grumpier Old Men,"[Romance, Comedy]",en,A family wedding reignites the ancient feud be...,11.712900,101.0,1995.0
3,Waiting to Exhale,"[Comedy, Drama, Romance]",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,127.0,1995.0
4,Father of the Bride Part II,[Comedy],en,Just when George Banks has recovered from his ...,8.387519,106.0,1995.0

In [24]:
new_df = final_df.rename(columns={
    'title': 'Title',
    'genres_names': 'Genre',
    'original_language': 'Language',
    'overview': 'Description',
    'runtime': 'Runtime',
    'release_year': 'Year',
    'popularity': 'Popularity'
})

In [25]:
new_df.head()

,Title,Genre,Language,Description,Popularity,Runtime,Year
0,Toy Story,"[Animation, Comedy, Family]",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,81.0,1995.0
1,Jumanji,"[Adventure, Fantasy, Family]",en,When siblings Judy and Peter discover an encha...,17.015539,104.0,1995.0
2,Grumpier Old Men,"[Romance, Comedy]",en,A family wedding reignites the ancient feud be...,11.712900,101.0,1995.0
3,Waiting to Exhale,"[Comedy, Drama, Romance]",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,127.0,1995.0
4,Father of the Bride Part II,[Comedy],en,Just when George Banks has recovered from his ...,8.387519,106.0,1995.0

In [26]:
new_df.to_csv("dataset/movies_parsed.csv", index= False)

In [27]:
new_df['Description'][0].type()

AttributeError: 'str' object has no attribute 'type'

In [28]:
new_df["Year"].isna().sum()

66

In [29]:
new_df = new_df.dropna(subset=["Year", "Description"])

In [30]:
len(new_df)

34918

In [31]:
new_df["Description"].isna().sum()

0

In [37]:
new_df["Year"].isna().sum()

0